
<div class="row">
    <div class="col-xs-12">
        <div class="box" ng-repeat="trip in tripReport">
            <div class="box-header">
                <h3 class="box-title">Trip Report - {{::trip.plateno }}</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div><!-- /.box-header -->
            <div class="box-body">

                <div class="row">
                    <div class="col-sm-4 nopadding-right">
                        Total Distance: {{::trip.totalMile }} Km <br>
                        Total Driving Time: {{::trip.totalDrive }} <br>
                        Total Idling Time: {{::trip.totalIdle }}
                    </div>
                    <div class="col-sm-4 nopadding-right">
                        Max Speed: {{::trip.tripMaxSpeed }} Km/H <br>
                        Max Driving Time: {{::trip.maxDriveTime }} <br>
                        Max Idling Time: {{::trip.maxIdleTime}}
                    </div>
                    <div class="col-sm-4 nopadding-right">
                        First Engine Start: {{::trip.result[0].startTime }} <br>
                        <!-- Last Engine Start: {{ trip.laststart }} -->
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-sm-12">
                        <table datatable="" dt-options="dtOptions" class="table table-striped table-bordered dt-responsive" cellspacing="0" width="100%">
                            <thead>
                                <tr>    
                                    <th class="text-center">Start</th>
                                    <th class="text-center">End</th>
                                    <th class="text-center">Odometer</th>
                                    <th class="text-center">Distance(Km)</th>
                                    <th class="text-center">Driving Time</th>
                                    <th class="text-center">Idling Time</th>
                                    <th class="text-center">Max Speed</th>
                                    <th class="text-center">Alarm Info</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr ng-if="loading">
                                    <td colspan="8" class="text-center"><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i></td>
                                </tr>
                                <tr ng-if="trip.result.length == 0">
                                    <td colspan="8" class="text-center">No Report Available</td>
                                </tr>
                                <tr ng-repeat="result in trip.result">
                                    <td data-order="{{ result.startTime }}" class="text-center">{{::result.startTime | time}}<br><a href="">{{ result.start }}</a></td>
                                    <td data-order="{{ result.destTime }}" class="text-center">{{::result.destTime | time}}<br><a href="">{{ result.dest }}</a></td>
                                    <td class="text-center">{{::result.odometer }}</td>
                                    <td class="text-center">{{::result.distance }}</td>
                                    <td class="text-center">{{::result.driveTime }}</td>
                                    <td class="text-center">{{::result.idleTime }}</td>
                                    <td class="text-center">{{::result.maxSpeed }}</td>
                                    <td></td>
                                </tr>   
                            </tbody>
                        </table>
                    </div>
                </div>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div><!-- /.col -->
</div><!-- /.row -->
