

<!-- Main Content -->

<!-- Site wrapper -->
<div class="wrapper">

    <!-- Header. contains navbar -->
    <ng-include src="'components/shared/header/header.html'"></ng-include>
    <!-- END HEADER -->

    <!-- Left side column. contains the sidebar -->
    <ng-include src="'components/shared/sidebar/main-report-sidebar.html'"></ng-include>
    <!-- END LEFT-SIDEBAR -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <!-- Main content -->
        <section class="content">

            <div class="tab-content"> 
                <div class="tab-pane fade in active" id="main-reports">

                    <!-- Report content -->
                    <section class="content-report">
                        <section class="content">
                            <div class="callout callout-info" ng-if="!reports.type">
                                <h4>Welcome!</h4>
                                You can now generate reports. Instructions for how to use reports are available <a href="#">here</a>
                            </div>

                            <history-playback ng-if="reports.type === 'history'"></history-playback>
                        </section>

                        

                        <!-- <div class="row" ng-if="reports.type">
                            <div class="col-xs-12 history-table">
                                <div class="box box-danger">
                                    <div class="box-header">
                                        <h3 class="box-title" ng-if="!reports.selectedDevice.plateno">{{reports.reportType}}</h3>
                                        <h3 class="box-title" ng-if="reports.selectedDevice.plateno">{{reports.reportType}} - {{reports.selectedDevice.plateno}}</h3>
                                    </div> -->

                                    <!-- /.box-header -->
                                    <!-- <div class="box-body table-reports">

                                        <trip-report ng-if="reports.type === 'trip'"></trip-report>

                                    </div> -->
                                <!-- /.box -->
                                <!-- </div>
                            </div>
                        </div> -->

                    </section><!-- /.content -->
                </div>
            </div>

        </section><!-- /.content -->

    </div><!-- /.content-wrapper -->

    <toaster-container toaster-options="{'time-out':3000, 'close-button':true, 'position-class': 'toast-top-right'}"></toaster-container>

</div><!-- ./wrapper -->