
<div class="row-history">

	<div class="map-wrapper mapLoader">
		<ng-map id="reportsMap" zoom="3" center="[0, 0]" lazy-init="true" default-style="false">
		    <marker no-watcher="true" ng-repeat="pos in reports.history | limitTo:reports.totalDisplayed" id="{{pos._id}}"  position="{{pos.location[1]}}, {{pos.location[0]}}" on-click="reports.showInfo()" data="{{pos}}" icon="{{pos.icon}}"></marker>

		    <shape no-watcher="true" ng-if="reports.path.length != 0" name="polyline" id="polyline" path="{{reports.path}}" geodesic="true" stroke-color="#3c8dbc" stroke-opacity="1.0" stroke-weight="4" icons="[{icon: { path: 'FORWARD_CLOSED_ARROW', scale: 4,strokeColor: '#ff851b', fillColor:'#ff7701', fillOpacity: 1 }, repeat:'200px',offset: '100%'}]"></shape>

		    <info-window id="vehicleWindow">
		        <div ng-non-bindable="" class="iw-div">
		            <div class="iw-title">
		            	<i class="fa fa-car"></i> 
		            	{{::reports.infoData.time}}
		            </div>
		            <div class="iw-content">
		                <span ng-if="history.address">Address:</span> {{::reports.infoData.address}} <br>
		                <span>Speed:</span> {{::reports.infoData.speed}} km/h <br>
		            </div>
		        </div>
		    </info-window>
		</ng-map>
	</div>

	<div class="table-history">
		<table datatable="ng" dt-options="reports.dtOptions" dt-column-defs="reports.dtColumnDefs" dt-instance="reports.dtInstance" class="table table-striped table-bordered" width="100%">
	  		<thead>
	      		<tr>
	              	<th>Time</th>
	                <th>Location</th>
	                <th>Speed</th>
	                <th>Stop</th>
	                <th>Mileage</th>
	                <th>Engine</th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr ng-repeat="history in reports.history | limitTo:reports.totalDisplayed" ng-click="reports.showInfoTable(history)">
	                <td>{{::history.time}}</td>
	                <td>{{::history.address}}</td>
	                <td>{{::history.speed}} <sup style="font-size: 13px">km/h</sup></td>
	                <td>{{::history.speed}}</td>
	                <td>{{::history.mile}} <sup style="font-size: 13px">km</sup></td>
	                <td>{{::history.accstatus}}</td>
	            </tr>
	        </tbody>
	    </table>
	</div>

</div><!-- /.box-body -->
	  	
