
<!-- Site wrapper -->
<div class="wrapper">

    <!-- include header partials -->
    <ng-include src="'components/shared/header.html'"></ng-include>

    <!-- include leftside partials -->
    <ng-include src="'components/shared/sidebar.html'"></ng-include>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" admin-lte-layout>

        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                <i class="fa fa-truck"></i> Devices
                <small ng-if="UserRole.role == 'admin'" ng-click="showAddOrg()" class="operation-edit label bg-blue" data-target="#addOrg" data-toggle="modal">
                  <span class="fa fa-plus"></span>
                </small>

            </h1>
        </section>
        <!-- Main content -->
        <section class="content">
            
            <div class="row">
                
                <div class="col-sm-12">
                    
                    <div class="box">
                            
                        <div class="box-body">

                            <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered dt-responsive" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Device name</th>
                                        <th>Sim Number</th>
                                        <th>System No.</th>
                                        <th>Fleet</th>
                                        <th>Company</th>
                                        <th>Operation</th>
                                    </tr>
                                </thead>
                                
                                <tbody>
                                    <tr ng-repeat="device in devices.devices" ng-class="vehicleCss[{{vehicle.id}}]">
                                        <td>{{ device.id }}</td>
                                        <td>{{ device.plateno}}</td>
                                        <td>{{ device.simcard}}</td>
                                        <td><small class="label bg-blue ng-binding ng-scope">{{device.devicetype}}</small> {{ device.systemno }}</td>
                                        <td><a href="/acs/fleet/{{device.fleet.company_id}}">{{ device.fleet.name }}</a></td>
                                        <td>{{ device.company.name}}</td>
                                        <td>

                                            <button type="button" class="btn btn-primary btn-xs" ng-if="devices.devicePermissions()" ng-click="groups.showEditGroup(group)" data-toggle="modal" data-target="#editGroupModal">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </button>
                                            <button type="button" class="btn btn-danger btn-xs" ng-if="devices.devicePermissions()" ng-click="groups.showEditGroup(group)" data-toggle="modal" data-target="#deleteGroupModal">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>

                                            <span ng-if="devices.user.role == 'moderator' || devices.user.role == 'user'"> 
                                                <small class="label bg-green"  data-toggle="modal"  ng-if="device.status == 'approved'">
                                                    <span class="">{{device.status}}</span>
                                                </small>    
                                                <small class="label bg-orange" data-toggle="modal" ng-if="device.status == 'provision'">
                                                    <span class="">{{device.status}}</span>
                                                </small>            
                                                <small class="label bg-red" data-toggle="modal" ng-if="device.status == 'nocredit'">
                                                    <span class="">{{device.status}}</span>
                                                </small> 
                                            </span>  

                                            <span ng-if="devices.user.role == 'admin'" class="operation-changestatus">
                                                <button type="button" class="btn btn-primary btn-xs" ng-if="devices.devicePermissions()" ng-click="groups.showEditGroup(group)" data-toggle="modal" data-target="#changeStatus">
                                                    {{device.status}}
                                                </button>

                                                <!-- <small class="label bg-green"  data-target="#changeStatus" ng-click="changeStatus(device)" data-toggle="modal"  ng-if="device.status == 'approved'">
                                                    <span class="">{{device.status}}</span>
                                                </small>    
                                                <small class="label bg-orange"  data-target="#changeStatus" ng-click="changeStatus(device)" data-toggle="modal" ng-if="device.status == 'provision'">
                                                    <span class="">{{device.status}}</span>
                                                </small>
                                                <small class="label bg-red"  data-target="#changeStatus" ng-click="changeStatus(device)" data-toggle="modal" ng-if="device.status == 'nocredit'">
                                                    <span class="">{{device.status}}</span>
                                                </small>  -->
                                            </span>          
                                        </td>
                                    </tr>
                                </tbody>


                            </table>

                        </div><!-- /.box-body -->
                    
                    </div><!-- /.box -->

                </div>
            </div>

        </section> <!-- /.content -->

    </div><!-- /.content-wrapper -->

    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 1.0.0
        </div>
        <strong>Copyright &copy; 2015-2016 <a href="https://bawq.com">Signal Commercial Services</a>.</strong> All rights reserved.
    </footer>

    <!-- END MAIN CONTENT -->

</div><!-- ./wrapper -->
