<div ng-controller="SidebarController">

    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

            <ul class="nav nav-tabs nav-justified control-sidebar-tabs" role="tablist">
                <li class="active">
                    <a ng-href="/tracker"><i class="fa fa-location-arrow"></i></a>
                </li>
                <li><a ng-href="/reports"><i class="fa fa-bar-chart-o"></i></a></li>
                <li><a ng-href="/users"><i class="fa fa fa-users"></i></a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane fade in active" id="sidebar-tracker">

                    <!-- control sidebar settings tab -->
                    <ul class="main-sidebar-menu">

                        <!-- search form -->
                        <form method="get" class="sidebar-form">
                            <div class="input-group">
                                <input type="text" ng-model="search" class="form-control" placeholder="Search Vehicle"/>
                                <span class="input-group-btn">
                                    <button type='button' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </form>

                        <!-- /.search form -->
                        <!-- sidebar menu: : style can be found in sidebar.less -->
                        <ul class="sidebar-menu" ng-if="tracker.loading">
                            <li class="treeview text-center text-gray">
                                <div>
                                    <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </li>
                        </ul>

                        <ul class="sidebar-menu" ng-if="!tracker.loading">
                            <li class="header">
                                <i class="fa fa-truck"></i> GROUPS
                            </li>
                            
                            <!-- sidebar groups directives -->
                            <sidebar-groups group="group" ng-repeat="group in tracker.groups"></sidebar-groups>

                            <li class="header">
                                <i class="fa fa-car"></i> DEVICES <i class="legend-modal fa fa-question-circle pull-right" tooltip title="Help" ng-click="sidebar.showLegend()"></i>
                            </li>

                            <!-- sidebar device directives -->
                            <sidebar-devices device="device" set-active="tracker.selected" set-config="tracker.setConfig(device)" get-info="tracker.getInfo(device)" show-marker-info="tracker.showMarkerInfo(systemno)" ng-repeat="device in tracker.devices| deviceSearch:search | orderObjectBy:'devicestatus'"></sidebar-devices>
                        </ul>

                    </ul>

                </div>

            </div>

        </section>
        <!-- /.sidebar -->

    </aside>

    <!-- legend informartion modal directive -->
    <modal-legend show-modal="sidebar.visible"></modal-legend>
    <!-- modal legend -->

</div>