<div ng-controller="SidebarController">

    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

            <ul class="nav nav-tabs nav-justified control-sidebar-tabs" role="tablist">
                <li><a ng-href="/tracker"><i class="fa fa-location-arrow"></i></a></li>
                <li class="active">
                    <a ng-href="/reports"><i class="fa fa-bar-chart-o"></i></a>
                </li>
                <li><a ng-href="/users"><i class="fa fa fa-users"></i></a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane fade in active" id="sidebar-reports">
                
                    <!-- control sidebar reports tab -->
                    <h3 class="main-sidebar-heading"><i class="fa fa-bar-chart-o"></i>&nbsp;Reports </h3>
                    <ul class="main-sidebar-menu-reports">    
                        
                       <!-- <form name="form" ng-submit="reportsCtrl.generateReport({type: report_type, systemno: vehicle_report, to: report_to, from: report_from})" novalidate> -->
                        <li>
                            <div class="form-group">
                                <label>Report Type</label>
                                <select ng-model="reports.type" class="form-control no-radius" ng-change="reports.reportSelect(reports.type)">
                                    <option value="">Select Report Type</option>
                                    <option value="trip">Trip Report</option>
                                    <option value="history">Playback History</option>
                                </select>
                            </div><!-- /.form-group -->
                        </li>   

                        <form name="form" ng-submit="reports.playback()" ng-if="reports.type === 'history'" novalidate>
                            <li class="text-center" ng-if="reports.loading">
                                <div>
                                    <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </li>

                            <div ng-if="!reports.loading">
                                <li >
                                    <div class="form-group">
                                        <label>Select Vehicle</label>
                                        <select ng-model="reports.selectedDevice" data-placeholder="Select Vehicles" class="form-control no-radius" ng-options="value as value.plateno for value in reports.devices" required>
                                            <option value="">Select Device</option>
                                        </select>
                                    </div>
                                </li>
                                <li>
                                    <!-- Date and time range -->
                                    <div class="form-group">
                                        <label>Date range button:</label>
                                        <div class="input-group btn-daterange">
                                            <button type="button" class="btn btn-flat btn-default" id="daterange-btn" daterange-btn>
                                                <i class="fa fa-calendar"></i> {{reports.reportFrom}} - {{reports.reportTo}} 
                                                <i class="fa fa-caret-down"></i>
                                            </button>
                                        </div>
                                    </div> <!-- /.form group -->
                                </li>
                                <li>
                                    <div class="form-button">
                                        <button type="submit" class="btn-success btn btn-small" id="report_generate" ng-disabled="form.$invalid || reportsCtrl.generating">Generate</button>
                                        
                                        <button type="submit" class="btn-success btn btn-small" id="report_generate" ng-disabled="form.$invalid || reportsCtrl.generating">Export</button>
                                    </div>
                                </li>
                            </div>
                        </form>

                       <!--  <form>
                        

                        </form> -->
                            <!-- <li> -->
                                <!-- Date and time range -->
                                <!-- <div class="form-group">
                                    <label>Date range button:</label>
                                    <div class="input-group">
                                        <button type="button" class="btn btn-flat btn-default" id="daterange-btn" daterange-btn>
                                            <i class="fa fa-calendar"></i> Date range picker
                                            <i class="fa fa-caret-down"></i>
                                        </button>
                                    </div>
                                </div> --><!-- /.form group -->
                            <!-- </li>
                            <li>
                                <div class="form-group">
                                    <label>From</label>
                                    <input type="text" class="form-control" placeholder="From" ng-model="report_from" data-inputmask="'alias': 'mm/dd/yyyy'" data-mask required>
                                </div>
                            </li>
                            <li>
                                <div class="form-group">
                                    <label>To</label>
                                    <input type="text" class="form-control" placeholder="To" ng-model="report_to" data-inputmask="'alias': 'mm/dd/yyyy'" data-mask required>
                                </div>
                            </li>
                            <li>
                                <div class="form-group">
                                    <label>Select Vehicles</label>
                                    <select ng-model="vehicle_report" multiple="multiple" data-placeholder="Select Vehicles" class="form-control select2" ng-options="value.id as value.text for value in tracker.vehicleOptions" required>
                                    </select>
                                </div>
                            </li>
                            <li>
                                <div class="form-button">
                                    <button type="submit" class="btn-success btn btn-small" id="report_generate" ng-disabled="form.$invalid || reportsCtrl.generating">Generate</button>
                                </div>
                            </li> -->
                        <!-- </form>  -->

                    </ul>

                </div>
            </div>

        </section>
        <!-- /.sidebar -->

    </aside>

    <!-- legend informartion modal directive -->
    <modal-legend visible="sidebar.visible"></modal-legend>
    <!-- modal legend -->

</div>