
<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title"><i class="fa fa-question-circle"></i> Help</h4>
            </div>
            <div class="modal-body">
                <ul class="legend-menu">
                    <li><label><i class="fa fa-circle text-danger"></i>&nbsp;&nbsp;Device is disconnected</label></li>
                    <li><label><i class="fa fa-circle text-success"></i>&nbsp;&nbsp;Device is connected</label></li>
                    <li><label><i class="fa fa-circle text-orange"></i>&nbsp;&nbsp;Device on moving state</label></li>
                    <li><label><i class="fa fa-circle text-info"></i>&nbsp;&nbsp;Device on idle state</label></li>
                    <li><label><i class="fa fa-circle text-yellow"></i>&nbsp;&nbsp;No Gps Signal</label></li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-flat pull-left" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>