
<li class="treeview">
    <input type="checkbox" class="btn-primary" id="fcheck{{fleet.id}}" ng-model="tracker.sort_fleets[fleet.id]" ng-change="showByFleet()">
    <label class="fleet-sort" for="fcheck{{::group.id}}">{{::group.name}}</label>
</li>