

<li class="treeview">
    <a href="" ng-class="selected == device.systemno ? 'active' : ''">
        <div class="container">
            <div class="device-status" ng-click="showMarkerInfo({ systemno: device.systemno })"><i class="fa fa-{{::device.object_type}} text-{{device.devicestatus}}"></i></div>
            <div class="device-name" ng-click="showMarkerInfo({ systemno: device.systemno })">{{device.plateno}} <br> <span class="timeUpdate">{{ device.time | time}}</span> </div>
            <div class="other-status">
                <i class="fa fa-info-circle" ng-click="getInfo({ device: device })" tooltip title="More Info"></i>
                <i class="fa fa fa-cog" ng-click="setConfig({ device: device })" tooltip data-original-title="Config"></i>
            </div>
        </div>
    </a>
</li>