
<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar" ng-controller="SidebarController as sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
       
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">

            <li class="treeview" ng-repeat="menu in ::sidebar.menus">
                <a href="{{menu.dest}}">
                    <i class="fa {{menu.icon}}"></i> <span>{{menu.name}}</span>
                </a>
            </li>

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>

<!-- =============================================== -->