<!doctype html>
<html ng-app="trackerApp">
    <head>
        <base href="/">
        <meta charset="utf-8">
        <title ng-bind="$root.title"></title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="description" content="">
        
        <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/assets/images/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicons/apple-touch-icon-180x180.png">
        <link rel="icon" type="image/png" href="/assets/images/favicons/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/assets/images/favicons/android-chrome-192x192.png" sizes="192x192">
        <link rel="icon" type="image/png" href="/assets/images/favicons/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="/assets/images/favicons/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="/assets/images/favicons/manifest.json">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-TileImage" content="/assets/images/favicons/mstile-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <!-- google maps api loaded here to avoid racing statement on lazy loading -->
        <script src="https://maps.googleapis.com/maps/api/js?v=3.23&key=AIzaSyBrJTUBWfvcvxaig_45b0OWNH1lbNLnV5Q&libraries=drawing"></script>
        <!-- google fonts excluded from css build -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

        <!-- bootstrap cdn -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

        <!-- build:css(.) styles/vendor.css -->
        <link rel="stylesheet" href="bower_components/angular-timezone-selector/dist/angular-timezone-selector.min.css">
        <link rel="stylesheet" href="bower_components/bootstrap-daterangepicker/daterangepicker.css" />
        <link rel="stylesheet" href="bower_components/AdminLTE/dist/css/AdminLTE.css" />
        <link rel="stylesheet" href="bower_components/AdminLTE/dist/css/skins/skin-blue.css" />
        <link rel="stylesheet" href="bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
        <link rel="stylesheet" href="bower_components/datatables.net-responsive-bs/css/responsive.bootstrap.min.css">
        <link rel="stylesheet" href="bower_components/AngularJS-Toaster/toaster.min.css">
        <!-- endbuild -->

        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="assets/css/styles.css">
        <!-- endbuild -->
    </head>
    <body class="{{$root.bodyclass}}">
        <!--[if lte IE 8]>
          <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- ng-view -->
        <div ng-view></div>
        <!-- end ng-view -->

        <!-- build:js(.) scripts/utilities.js -->
        <script src="bower_components/moment/min/moment.min.js"></script>
        <script src="bower_components/moment-timezone/builds/moment-timezone-with-data.min.js"></script>
        <script src="bower_components/lodash/dist/lodash.min.js"></script>
        <script src="bower_components/socket.io-client/socket.io.js"></script>
        <script src="bower_components/api-check/dist/api-check.min.js"></script>
        <!-- endbuild -->

        <!-- jquery cdn -->
        <script src="//code.jquery.com/jquery-2.2.0.min.js"></script>
        <!-- bootstrap cdn -->
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

        <!-- build:js(.) scripts/jquery-vendor.js -->
        <script src="bower_components/chosen/chosen.jquery.min.js"></script>
        <script src="bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
        <script src="bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
        <script src="bower_components/datatables/media/js/dataTables.bootstrap.min.js"></script>
        <script src="bower_components/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
        <script src="bower_components/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
        <!-- endbuild -->

        <!-- angular google cdnify -->
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-touch/angular-touch.js"></script>

        <!-- build:js(.) scripts/angular-vendor.js -->
        <script src="bower_components/angular-formly/dist/formly.min.js"></script>
        <script src="bower_components/ngmap/build/scripts/ng-map.js"></script>
        <script src="bower_components/angular-datatables/dist/angular-datatables.min.js"></script>
        <script src="bower_components/angular-datatables/dist/plugins/bootstrap/angular-datatables.bootstrap.min.js"></script>
        <script src="bower_components/AngularJS-Toaster/toaster.min.js"></script>
        <script src="bower_components/angular-timezone-selector/dist/angular-timezone-selector.min.js"></script>
        <!-- endbuild -->
 
        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="components/app.js"></script>
        <script src="components/config.js"></script>
        <script src="components/login/login.controller.js"></script>
        <script src="components/login/login.services.js"></script>
        <script src="components/login/auth.services.js"></script>
        <script src="components/login/token.services.js"></script>
        <script src="components/shared/header/header.controller.js"></script>
        <script src="components/shared/header/header.directives.js"></script>
        <script src="components/shared/sidebar/sidebar.controller.js"></script>
        <script src="components/shared/sidebar/sidebar.directives.js"></script>
        <script src="components/tracker/tracker.controller.js"></script>
        <script src="components/tracker/tracker.directives.js"></script>
        <script src="components/tracker/tracker.service.js"></script>
        <script src="components/tracker/device.service.js"></script>
        <script src="components/tracker/group.service.js"></script>
        <script src="components/tracker/tracker.filter.js"></script>
        <script src="components/navbar/navbar.directives.js"></script>
        <script src="components/report/report.controller.js"></script>
        <script src="components/report/report.service.js"></script>
        <script src="components/report/report.directives.js"></script>
        <script src="components/settings/settings.controller.js"></script>
        <script src="components/settings/settings.directives.js"></script>
        <script src="components/settings/settings.service.js"></script>
        <script src="components/lib/socket.io.js"></script>
        <script src="components/lib/osm.geocode.js"></script>
        <!-- endbuild -->
        
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-76033631-1', 'auto');
            ga('send', 'pageview');
        </script>
        
    </body>
    
</html>
