
<!-- Site wrapper -->
<div class="wrapper">

    <!-- include header partials -->
    <ng-include src="'components/shared/header.html'"></ng-include>

    <!-- include leftside partials -->
    <ng-include src="'components/shared/sidebar.html'"></ng-include>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" admin-lte-layout>

        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                <i class="fa fa-users"></i> Users
                <small ng-if="UserRole.role == 'admin'" ng-click="showAddOrg()" class="operation-edit label bg-blue" data-target="#addOrg" data-toggle="modal">
                  <span class="fa fa-plus"></span>
                </small>

            </h1>
        </section>
        <!-- Main content -->
        <section class="content">
            
            <div class="row">
                
                <div class="col-sm-12">
                    
                    <div class="box">
                            
                        <div class="box-body">

                            <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered dt-responsive" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Operation</th>
                                        <th>User Name</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                        <th>Fleets</th>                                   
                                        <th>Company</th>
                                    </tr>
                                </thead>
                                
                                <tbody>
                                    <tr ng-repeat="user in users" >
                                        <td>{{ user.id }}</td>
                                        <td>{{ user.name }}</td>
                                        <td></td>
                                        <!-- <td>
                                        <small ng-click="showEditUser(user)" class="operation-edit label bg-orange" data-target="#editUser" data-toggle="modal">
                                        <span class="glyphicon glyphicon-pencil"></span></small>
                                        <small ng-click="showRemoveUser(user)" class="operation-delete label bg-red" data-target="#removeUser" data-toggle="modal">
                                        <span class="glyphicon glyphicon-trash"></span></small>
                                        <small ng-click="showAssignFleetToUser(user)" class="operation-assignfleet label bg-green" data-target="#assignFleet" data-toggle="modal">
                                        <span class="glyphicon glyphicon-trash fa fa-truck"></span></small>   

                                        <small ng-if="user.role == 'user'" ng-click="showSetPermissionToUser(user)" class="operation-setPermission label bg-blue" data-target="#setUserPermission" data-toggle="modal">
                                        <span class="glyphicon glyphicon-trash fa fa-file-text"></span></small> 

                                        </td> -->
                                        <td>{{ user.username }}</td>
                                        <td>{{ user.email }}</td>
                                        <td>{{ user.role}}</td>
                                        <td>
                                        <div  ng-repeat="fleet in user.fleets" >
                                        <span class="label label-success fleet-user">
                                        <a class="fleet-label" href='/acs/fleet/{{fleet.company_id}}'>{{fleet.name}}</a>
                                        </span>
                                        </div>
                                        </td>
                                        <td><a href="acs/user">{{user.company.name}}</a></td>
                                    </tr>
                                </tbody>


                            </table>

                        </div><!-- /.box-body -->
                    
                    </div><!-- /.box -->

                </div>
            </div>

        </section> <!-- /.content -->

    </div><!-- /.content-wrapper -->

    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 1.0.0
        </div>
        <strong>Copyright &copy; 2015-2016 <a href="https://bawq.com">Signal Commercial Services</a>.</strong> All rights reserved.
    </footer>

    <!-- END MAIN CONTENT -->

</div><!-- ./wrapper -->
