
<a href="" class="dropdown-toggle" data-toggle="dropdown">
    <i class="fa fa-bell-o"></i>
    <span class="label label-danger">{{ tracker.alarms.length}}</span>
</a>
<ul class="dropdown-menu">
    <li class="header">You have {{ tracker.alarms.length}} alarms</li>
    <li>
        <!-- inner menu: contains the actual data -->
        <ul class="menu" menu-scroll>
            <li ng-repeat="alarm in alarms"><!-- start message -->
                <a href="#">
                    <div class="pull-left">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x text-danger"></i>
                            <i class="fa {{alarm.icon}} fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <h4>
                        {{alarm.plateno}}
                        <small><i class="fa fa-clock-o"></i> {{alarm.time}}</small>
                    </h4>
                    <p>{{alarm.message}}</p>
                </a>
            </li><!-- end message -->
        </ul>
    </li>
    <li class="footer" data-toggle="modal" data-target=".alarm-modal"><a href="#">See All Alarms</a></li>
</ul>