
<a href="" class="dropdown-toggle" data-toggle="dropdown">
    <i class="fa fa-flag-o"></i>
    <span class="label label-success">{{ tracker.notifications.length}}</span>
</a>
<ul class="dropdown-menu">
    <li class="header">You have {{ tracker.notifications.length}} notifications</li>
    <li>
        <!-- inner menu: contains the actual data -->
        <ul class="menu" menu-scroll>
            <li ng-repeat="notification in notifications"><!-- start message -->
                <a href="#">
                    <div class="pull-left">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x text-success"></i>
                            <i class="fa {{notification.icon}} fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <h4>
                        {{notification.plateno}}
                        <small><i class="fa fa-clock-o"></i> {{notification.time}}</small>
                    </h4>
                    <p>{{notification.message}}</p>
                </a>
            </li><!-- end message -->
        </ul>
    </li>
    <li class="footer"><a href="#">See All Notifications</a></li>
</ul>