
<div ng-controller="SettingsController">
	<!-- device settings modal directives -->
    <device-settings device="tracker.devices[tracker.selected]" show-modal="tracker.showSetting" config-type="settings.configType" 
    	settings-list="settings.settingsList" formly="settings.formly" form-config="settings.formConfig(formly, device)">
    </device-settings>
</div>