
<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Device Config - {{device.plateno}}</h4>
            </div>
            <form novalidate name="form">

                <div class="modal-body">

                    <div class="form-group">
                        <label>Configuration type</label>
                        <select ng-options="setting as setting.title for setting in ::settingsList[device.device_type] track by setting.id" 
                            ng-model="configType" class="form-control no-radius" required>
                            <option value="">Select Configuration type</option>
                        </select>
                    </div><!-- /.form-group -->

                    <formly-form model="configType.model" fields="configType.fields" form="configType.formName" options="configType.options"></formly-form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-flat pull-left" data-dismiss="modal">Close</button>
                    <button type="submit" ng-disabled="form.$invalid" ng-click="formConfig({formly:configType, device: device})" data-dismiss="modal" class="btn btn-primary btn-flat"></i> Submit</button>
                </div>

            </form>
        </div>
    </div>
</div>
