
<!-- Site wrapper -->
<div class="wrapper">

    <!-- include header partials -->
    <ng-include src="'components/shared/header.html'"></ng-include>

    <!-- include leftside partials -->
    <ng-include src="'components/shared/sidebar.html'"></ng-include>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" admin-lte-layout>

        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                <i class="fa fa-truck"></i> Groups
                <small ng-if="UserRole.role == 'admin'" ng-click="showAddOrg()" class="operation-edit label bg-blue" data-target="#addOrg" data-toggle="modal">
                  <span class="fa fa-plus"></span>
                </small>

            </h1>
        </section>
        <!-- Main content -->
        <section class="content">
            
            <div class="row">
                
                <div class="col-sm-12">
                    
                    <div class="box">
                            
                        <div class="box-body">

                            <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered dt-responsive" cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Group Name</th>
                                    <th>Organization Name</th>
                                    <th class="text-center" width="15%">Operation</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="group in groups.groups track by group.id">
                                        <td>{{ group.id }}</td>
                                        <td ng-if="group.vehicles.length">
                                            <small class="label bg-blue">
                                                {{group.vehicles.length}} 
                                                <i class="fa fa-car"></i>
                                            </small> 
                                            <a href="/acs/vehicle/{{group.id}}">{{group.name}}</a> 
                                        </td>
                                        <td  ng-if="group.vehicles.length==0 || group.vehicles == null" >{{group.name}}</td>
                                        <td>
                                            <a href="/acs/organization/{{group.company_id}}">
                                                {{group.company.name}}
                                            </a>
                                        </td>
                                        <td class="text-center">
                                            <button type="button" class="btn btn-primary btn-xs" ng-if="groups.groupPermissions()" ng-click="groups.showEditGroup(group)" data-toggle="modal" data-target="#editGroupModal">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </button>
                                            <button type="button" class="btn btn-danger btn-xs" ng-if="groups.groupPermissions()" ng-click="groups.showEditGroup(group)" data-toggle="modal" data-target="#deleteGroupModal">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div><!-- /.box-body -->
                    
                    </div><!-- /.box -->

                </div>
            </div>

        </section> <!-- /.content -->

    </div><!-- /.content-wrapper -->

    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 1.0.0
        </div>
        <strong>Copyright &copy; 2015-2016 <a href="https://bawq.com">Signal Commercial Services</a>.</strong> All rights reserved.
    </footer>

    <!-- END MAIN CONTENT -->

</div><!-- ./wrapper -->


<div class="modal fade" id="editGroupModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Edit - {{::groups.group.name}}</h4>
            </div>
            <div class="modal-body">
                <div >
                    <div class="form-group">
                        <label for="InputName">Group Name</label>
                        <input class="form-control" placeholder="Enter Name" type="text" ng-model="groups.group.name">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-flat pull-left" data-dismiss="modal">Close</button>
                <button type="button" ng-click="groups.editGroup(groups.group)" class="btn btn-flat btn-primary" data-dismiss="modal">Edit</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="deleteGroupModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Delete - {{::groups.group.name}}</b></h4>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this group?</b>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-flat pull-left" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-flat btn-danger" data-dismiss="modal" ng-click="groups.deleteGroup(groups.group)">Delete</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
