<!doctype html>
<html ng-app="adminApp">
<head>
    <base href="/">
    <meta charset="utf-8">
    <title ng-bind="'Admin | '+ $root.title"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">

    <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/images/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/assets/images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/assets/images/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/assets/images/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/assets/images/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/assets/images/favicons/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/assets/images/favicons/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- google fonts excluded from css build -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- bootstrap cdn -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- build:css(.) styles/vendor.css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/AdminLTE/dist/css/AdminLTE.css" />
    <link rel="stylesheet" href="bower_components/AdminLTE/dist/css/skins/skin-blue.css" />
    <link rel="stylesheet" href="bower_components/AngularJS-Toaster/toaster.min.css">
    <link rel="stylesheet" href="bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/datatables.net-responsive-bs/css/responsive.bootstrap.min.css">
    <!-- endbuild -->

    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="assets/css/styles.css">
    <!-- endbuild -->
</head>
<body class="{{$root.bodyclass}}">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->


    <!-- ng-view -->
    <div ng-view></div>
    <!-- end ng-view -->

    <!-- build:js(.) scripts/vendor.js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="bower_components/datatables/media/js/dataTables.bootstrap.min.js"></script>
    <script src="bower_components/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="bower_components/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/AngularJS-Toaster/toaster.min.js"></script>
    <script src="bower_components/angular-datatables/dist/angular-datatables.min.js"></script>
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="components/app.js"></script>
    <script src="components/config.js"></script>
    <script src="components/login/login.controller.js"></script>
    <script src="components/login/login.services.js"></script>
    <script src="components/dashboard/dashboard.controller.js"></script>
    <script src="components/shared/sidebar.controller.js"></script>
    <script src="components/organization/organization.controller.js"></script>
    <script src="components/organization/organization.services.js"></script>
    <script src="components/groups/groups.controller.js"></script>
    <script src="components/groups/groups.services.js"></script>
    <script src="components/devices/devices.controller.js"></script>
    <script src="components/devices/devices.services.js"></script>
    <script src="components/users/users.controller.js"></script>
    <script src="components/users/users.services.js"></script>
    <script src="components/drivers/drivers.controller.js"></script>
    <script src="components/shared/adminlte.directives.js"></script>
    <!-- endbuild -->
</body>

<toaster-container toaster-options="{'time-out':3000, 'close-button':true, 'position-class': 'toast-bottom-right'}"></toaster-container>

</html>
