
<!-- Main Content -->

<!-- Site wrapper -->
<div class="wrapper">

    <!-- include header partials -->
    <ng-include src="'components/shared/header.html'"></ng-include>

    <!-- include leftside partials -->
    <ng-include src="'components/shared/sidebar.html'"></ng-include>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" admin-lte-layout>

        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                <i class="fa fa-dashboard"></i> Dashboard
                <small></small>
            </h1>
        </section>
        <!-- Main content -->

        <section class="content">
        

        </section><!-- /.content -->

    </div><!-- /.content-wrapper -->

    <!-- END MAIN CONTENT -->

    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 1.0.0
        </div>
        <strong>Copyright &copy; 2015-2016 <a href="https://bawq.com">Signal Commercial Services</a>.</strong> All rights reserved.
    </footer>

</div><!-- ./wrapper -->