
<header class="main-header" ng-controller="HeaderController as header">
    <!-- Logo -->
    <a href="" class="logo">
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><img src="assets/images/logo-white-600px.png"/></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation" header-height>
        <!-- Sidebar toggle button-->
        <admin-lte-sidebar-toggle open-sidebar="tracker.openSidebar"></admin-lte-sidebar-toggle>
        
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><img src="assets/images/logo-white-600px.png"/></span>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Alarms notifications directives -->
                <li class="dropdown messages-menu" alarms-notification></li>

        		<!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="//www.gravatar.com/avatar/" class="user-image" alt="User Image" />
                        <span class="hidden-xs"> <!-- Nickname will be here --> <i class="caret"></i></span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- Menu Footer-->
                        <li><a href="javascript:">Settings</a></li>
                        <li><a href="javascript:" ng-click="header.logOut()">Sign out</a></li>
                    </ul>
                </li>
            </ul>
        </div>

    </nav>
</header>