
<!-- Site wrapper -->
<div class="wrapper">

    <!-- include header partials -->
    <ng-include src="'components/shared/header.html'"></ng-include>

    <!-- include leftside partials -->
    <ng-include src="'components/shared/sidebar.html'"></ng-include>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" admin-lte-layout>

        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                <i class="fa fa-building"></i> Organizations
                <!-- <small ng-if="UserRole.role == 'admin'" ng-click="showAddOrg()" class="operation-edit label bg-blue" data-target="#addOrg" data-toggle="modal">
                  <span class="fa fa-plus"></span>
                </small> -->

            </h1>
        </section>
        <!-- Main content -->
        <section class="content">
            
            <div class="row">
                
                <div class="col-sm-12">
                    
                    <div class="box">
                            
                        <div class="box-body">

                            <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered dt-responsive" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Organization Name</th>
                                        <th>Address</th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                        <th>Fax</th>
                                        <th>Contact Person</th>
                                        <th class="text-center">Operation</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="company in organizations.companies">
                                        <td>{{ company.id }}</td>
                                        <td>{{ company.name }}</td>
                                        <td>{{ company.address }}</td>
                                        <td>{{ company.email }}</td>
                                        <td>{{ company.tel }}</td>
                                        <td>{{ company.Fax }}</td>
                                        <td>{{ company.contact_person }}</td>
                                        <td class="text-center">
                                            <span data-toggle="tooltip" title="Edit Oganization" >
                                                <button type="button" class="btn btn-primary btn-xs" ng-if="organizations.orgPermissions()" ng-click="groups.showEditGroup(group)" data-toggle="modal" data-target="#editGroupModal">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </button>
                                            </span>

                                            <span data-toggle="tooltip" title="Delete Oganization" >
                                                <button type="button" class="btn btn-danger btn-xs" ng-if="organizations.orgPermissions()" ng-click="groups.showEditGroup(group)" data-toggle="modal" data-target="#deleteGroupModal">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </button>
                                            </span>

                                            <!-- <span data-toggle="tooltip" title="Edit Oganization" >
                                                <small ng-if="editOrgPermission()" ng-click="showEditOrg(company)" class="operation-edit label bg-orange" data-target="#editOrg" data-toggle="modal">
                                                    <span class="glyphicon glyphicon-pencil" ></span>
                                                </small>
                                            </span>
                                            <span data-toggle="tooltip" title="Delete Oganization" >
                                                <small ng-if="removeOrgPermission()" ng-click="showRemoveOrg(company)" class="operation-delete label bg-red" data-target="#removeOrg" data-toggle="modal">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </small>
                                            </span> -->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div><!-- /.box-body -->
                    
                    </div><!-- /.box -->
                    
                </div>
            </div>

        </section> <!-- /.content -->

    </div><!-- /.content-wrapper -->

    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 1.0.0
        </div>
        <strong>Copyright &copy; 2015-2016 <a href="https://bawq.com">Signal Commercial Services</a>.</strong> All rights reserved.
    </footer>

    <!-- END MAIN CONTENT -->

</div><!-- ./wrapper -->
