
<!-- Site wrapper -->
<div class="wrapper">

    <!-- include header partials -->
    <ng-include src="'components/shared/header.html'"></ng-include>

    <!-- include leftside partials -->
    <ng-include src="'components/shared/sidebar.html'"></ng-include>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" admin-lte-layout>

        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                <i class="fa fa-users"></i> Users
                <small ng-if="UserRole.role == 'admin'" ng-click="showAddOrg()" class="operation-edit label bg-blue" data-target="#addOrg" data-toggle="modal">
                  <span class="fa fa-plus"></span>
                </small>

            </h1>
        </section>
        <!-- Main content -->
        <section class="content">
            
            <div class="row">
                
                <div class="col-sm-12">
                    
                    <div class="box">
                            
                        <div class="box-body">

                            <table datatable="ng" dt-options="users.dtOptions" dt-column-defs="users.dtColumnDefs" class="table table-striped table-bordered dt-responsive" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>User Name</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                        <th>Groups</th>                                   
                                        <th>Company</th>
                                        <th class="text-center">Operation</th>
                                    </tr>
                                </thead>
                                
                                <tbody>
                                    <tr ng-repeat="user in users.users" >
                                        <td>{{ user.id }}</td>
                                        <td>{{ user.name }}</td>
                                        <td>{{ user.username }}</td>
                                        <td>{{ user.email }}</td>
                                        <td>{{ user.role}}</td>
                                        <td>
                                            <div  ng-repeat="fleet in user.fleets" >
                                                <span class="label label-success fleet-user">
                                                    <a class="fleet-label" href='/acs/fleet/{{fleet.company_id}}'>{{fleet.name}}</a>
                                                </span>
                                            </div>
                                        </td>
                                        <td><a href="acs/user">{{user.company.name}}</a></td>
                                        <td class="text-center">
                                            <span data-toggle="tooltip" title="Edit User" >
                                                <button type="button" class="btn btn-primary btn-xs" ng-if="users.user" ng-click="users.showEditUser(user)" data-toggle="modal" data-target="#editUser">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </button>
                                            </span>

                                            <span data-toggle="tooltip" title="Delete User" >
                                                <button type="button" class="btn btn-danger btn-xs" ng-if="users.user" ng-click="users.showEditUser(user)" data-toggle="modal" data-target="#deleteUser">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </button>
                                            </span>

                                            <span data-toggle="tooltip" title="Assign Group" >
                                                <button type="button" class="btn btn-primary btn-xs" ng-if="users.user" ng-click="users.showEditUser(user)" data-toggle="modal" data-target="#assignGroup">
                                                    <span class="fa fa-truck"></span>
                                                </button>
                                            </span>        
                                        </td>
                                       
                                    </tr>
                                </tbody>


                            </table>

                        </div><!-- /.box-body -->
                    
                    </div><!-- /.box -->

                </div>
            </div>

        </section> <!-- /.content -->

    </div><!-- /.content-wrapper -->

    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 1.0.0
        </div>
        <strong>Copyright &copy; 2015-2016 <a href="https://bawq.com">Signal Commercial Services</a>.</strong> All rights reserved.
    </footer>

    <!-- END MAIN CONTENT -->

</div><!-- ./wrapper -->


<div class="modal fade" id="editUser">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Edit - {{users.selected.name}}</h4>
            </div>
            <form novalidate name="form">
                <div class="modal-body">
                    <div >
                        <div class="form-group">
                            <label for="InputName">Name</label>
                            <input class="form-control" id="InputName" placeholder="Enter Name" type="text" ng-model="users.selected.name" required>
                        </div>
                        <div class="form-group">
                            <label for="InputUserName">Username</label>
                            <input class="form-control" id="InputUserName" placeholder="Enter Username" type="text" ng-model="users.selected.username" required>
                        </div>
                        <div class="form-group">
                            <label for="InputEmail">Email address</label>
                            <input class="form-control" id="InputEmail" placeholder="Enter Email" type="email" ng-model="users.selected.email" required>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-flat btn-danger pull-left" data-dismiss="modal">Close</button>
                    <button type="button" ng-disabled="form.$invalid" ng-click="users.editUser(users.selected)" class="btn btn-flat btn-primary" data-dismiss="modal" data-target="#editUser">Edit</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="assignGroup">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Assign Group - {{users.selected.name}}</h4>
            </div>
            <form novalidate name="form">
                <div class="modal-body">
                    <div class="form-group">
                        <div class="checkbox" ng-repeat="group in users.groups">
                            <input id="{{group.name}}" type="checkbox" ng-model="users.checkedGroup[group.id]" ng-checked="users.isChecked(group.id)">
                            <label for="{{group.name}}"> {{group.name}}</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-flat btn-danger pull-left" data-dismiss="modal">Close</button>
                    <button type="button" ng-disabled="form.$invalid" ng-click="users.assignGroup(users.selected)" class="btn btn-flat btn-primary" data-dismiss="modal" data-target="#assignGroup">Assign</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="deleteUser">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Delete - {{users.selected.name}}</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this user?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-flat btn-default pull-left" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-flat btn-danger" data-dismiss="modal" data-target="#removeUser" ng-click="users.deleteUser(users.selected)">Delete</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
