
<div class="login-box">

    <div class="login-logo">
        <span class="logo-lg"><img src="assets/images/logo-white-600px.png"/></span>
    </div><!-- /.login-logo -->

    <div class="login-box-body">

        <p class="login-box-msg">Sign in to start tracking</p>
        

        <form name="form" ng-submit="login.signIn()" role="form">

            <div class="form-group has-feedback">
                <input type="text" name="email" class="form-control" placeholder="Email" ng-model="login.email" required focus/>
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="Password" ng-model="login.password" required/>
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="checkbox">
                <input id="checkLogin" type="checkbox" ng-model="login.remember">
                <label for="checkLogin"> Remember Me</label>
            </div>   
               
            <button type="submit" class="btn bg-navy btn-block btn-flat" ng-disabled="form.$invalid || login.dataLoading"><i class="fa fa-spinner fa-spin" ng-if="login.dataLoading"></i> Sign In</button>

        </form>

        <div class="social-auth-links">
            <a href="#">I forgot my password</a><br>
            <a href="register.html" class="text-center">Register a new membership</a>
        </div>

    </div><!-- /.login-box-body -->

    <toaster-container toaster-options="{'time-out':3000, 'close-button':true, 'position-class': 'toast-top-right'}"></toaster-container>

</div><!-- /.login-box -->