@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
/* ------------------------- */
/* login page and logo style */
.bg-offline{
  background: #666 !important;
}
.bg-offline:hover{
  color: #fff !important;
}
.login-box, .register-box {
  width: 320px;
  margin: 7% auto;
}
.login-page{
  background: #3C8DBC;
  color: #666;
}
.login-logo span img{
  width: 154px;
  height: 50px;
}
.logo .logo-lg img{
	width: 123px;
	height: 40px;
	margin-bottom: 3px;
}
.navbar .logo-mini{
  margin-left: 10px;
  line-height: 50px;
}
.logo-mini img{
  visibility:hidden;
  width: 100px;
  height: 32px;
  margin-bottom: 3px;
}
.logo-lg{
	color: #D9DADB;
	font-size: 25px;
  font-weight: 200;
}
.logo-lg b{
	font-weight: 600;
}
/* fontawesome checkbox */
input[type=checkbox] { display:none; }
input[type=checkbox] + label:before {
  display: inline-block;
  font-family: FontAwesome;
}
input[type=checkbox] + label:before { 
  content: "\f096"; 
  letter-spacing: 10px;
}
input[type=checkbox]:checked + label:before{ 
  content: "\f046"; 
  letter-spacing: 8px;
}
.checkbox label{
  padding-left: 0px !important;
}
.checkbox input[type=checkbox] + label:before{
  color: #999;
}

/* sidebar menu */
.skin-blue .sidebar-menu > li > a.active {
  color: #ffffff;
  background: #1e282c;
  border-left-color: #3c8dbc !important;
}

/* users page */
.fleet-user a{
  color: #fff;
}
