
<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Device Info - {{info.plateno}}</h4>
            </div>
            <div class="modal-body">
                <div class="text-center" ng-if="loading">
                    <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                </div>
                <table class="table table-striped" ng-if="!loading">
                    <tbody> 
                        <tr> 
                            <th scope="row">Updated</th> 
                            <td>{{info.time | time}}</td>
                        </tr> 
                        <tr> 
                            <th scope="row">Ignition</th> 
                            <td>{{info.accstatus | accstatus}}</td> 
                        </tr> 
                        <tr> 
                            <th scope="row">Odometer</th> 
                            <td>{{info.mileage | distance:'m':'km'}} <sup style="font-size: 13px">km</sup></td>
                        </tr>
                        <tr> 
                            <th scope="row">Today Mileage</th> 
                            <td>{{info.todayMile}} <sup style="font-size: 13px">km</sup></td>
                        </tr>
                        <tr> 
                            <th scope="row">Speed</th> 
                            <td>{{info.speed}} <sup style="font-size: 13px">km/h</sup></td>
                        </tr>
                        <tr> 
                            <th scope="row">Voltage</th> 
                            <td>{{info.voltage}} <sup style="font-size: 13px">V</sup></td>
                        </tr>
                        <tr> 
                            <th scope="row">Oil</th> 
                            <td>{{info.oil}} <sup style="font-size: 13px"></sup></td>
                        </tr> 
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-flat pull-left" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>