
<!-- Main Content -->

<!-- Site wrapper -->
<div class="wrapper">

    <!-- Header. contains navbar -->
    <ng-include src="'components/shared/header/header.html'"></ng-include>
    <!-- END HEADER -->

    <!-- Left side column. contains the sidebar -->
    <ng-include src="'components/shared/sidebar/main-tracker-sidebar.html'"></ng-include>
    <!-- END LEFT-SIDEBAR -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <!-- Main content -->
        <section class="content">

            <div class="tab-content"> 
                <div class="tab-pane fade in active" id="main-tracker">
                    <div class="map-wrapper mapLoader" map-size>
                        <ng-map id="map" center="[0, 0]" lazy-init="true" zoom-to-include-markers="true" default-style="false">
                            <traffic-layer></traffic-layer>

                            <marker ng-repeat="device in tracker.devices track by device.systemno" position="{{device.location[1]}},{{device.location[0]}}" id="{{device.systemno}}" on-click="tracker.panToMarker()" data="{{device.systemno}}" icon="{{device.icon}}"></marker>

                            <drawing-manager ng-if="tracker.devices" on-overlaycomplete="tracker.onMapOverlayCompleted()" drawing-control-options="{position: 'TOP_RIGHT',drawingModes:['polygon','rectangle','circle']}"drawingControl="true" drawingMode="null" markerOptions="{icon:'www.example.com/icon'}" rectangleOptions="{fillColor:'red'}" circleOptions="{fillColor: '#FFFF00',fillOpacity: 1,strokeWeight: 5,clickable: false,zIndex: 1,editable: true}" >
                            </drawing-manager>

                            <info-window id="vehicleWindow">
                                <div ng-non-bindable="" class="iw-div">
                                    <div class="iw-title"><i class="fa fa-car"> </i> {{tracker.devices[tracker.selected].plateno}}</div>
                                    <div class="iw-content">
                                        <span>Time:</span> {{tracker.devices[tracker.selected].time | time}} <br>
                                        <span>Address:</span> {{tracker.devices[tracker.selected].address}} <br>
                                        <span>Speed:</span> {{tracker.devices[tracker.selected].speed }} km/h <br>
                                        <span>Actions:</span>
                                        <div class="iw-buttons">
                                            
                                            <a href="#" ng-click="tracker.sendUpdate(tracker.selected)"><i ng-class="tracker.loader ? 'fa fa-spinner fa-spin' : 'fa fa-crosshairs'" tooltip data-original-title="Update Location" ng-disabled="tracker.loader"></i></a>

                                            <a href="#" ng-click="tracker.getInfo(tracker.devices[tracker.selected])"><i class="fa fa-info-circle" tooltip data-original-title="More Info" class="btn btn-primary btn-xs"></i></a>
                                            
                                            <a href="" ng-click="tracker.setConfig(tracker.devices[tracker.selected])"><i class="fa fa fa-cog" tooltip data-original-title="Config"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </info-window>
                        </ng-map>
                    </div>
                </div>
            </div>

        </section><!-- /.content -->

    </div><!-- /.content-wrapper -->

    <toaster-container toaster-options="{'time-out':3000, 'close-button':true, 'position-class': 'toast-top-right'}"></toaster-container>

</div><!-- ./wrapper -->

<!-- device infomation modal directive -->
<device-info show-modal="tracker.showInfo" info="tracker.devices[tracker.selected]"></device-info>
<!-- modal device configurations -->

<!-- Settings components. contains the settings modal -->
<ng-include src="'components/settings/settings.html'"></ng-include>
<!-- END SETTINGS -->


